#root{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.btn{
  background-color: aqua;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid gray;
  margin: 5px;
  font: 600 14px/1.5 "Poppins", sans-serif;

}